body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
}

#icon-cont {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1B84A5;
}

.fas {
  font-size: 3em;
  color: white;
  position: absolute;
  pointer-events: none;
}

div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  padding: 3rem 4rem;
  background-color: #1B84A5;
  transition: 0.5s all ease;
  position: relative;
}

div:hover {
  background-color: #00607E;
  cursor: pointer;
  transform: scale(1.03);
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.30), 0 17px 50px 0 rgba(0, 0, 0, 0.3);
}